.assignment{
    padding: 5rem 3rem 5rem 3rem;
    background-color: var(--color-base);
}

.assignment section{
    background-color: var(--color-light);
    padding: 2rem;

    
}


.assignment ol{
    margin-left: 3rem;
}

.assignment ol li{
    padding-bottom: 1rem;
    font-size: 1rem;

    overflow-wrap: anywhere;
   
    
}
.assignment ul li{
    padding-bottom: 0.1rem;
   
   
}

.assignment p{
    color: var(--color-accent);
}

.assignment span{
    color:rgb(215, 149, 125);
    font-size: 0.8rem;
    padding: 0.2rem;
    background-color: var(--color-dark);
    border-radius: 0.2rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.assignment div{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 3rem;

    gap: 2rem;
}
.assignment div button{
    justify-self: center;
    align-self: center;
    width: fit-content;
    padding: 0.5em;

    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    font-family: var(--font-accent);
    color: var(--color-dark);

    background-color: var(--color-light);

    border-radius: 0.2rem;

    box-shadow: 5px 5px var(--color-dark);

}
.assignment div button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
    box-shadow:0 0 var(--color-base);
}

.hoverimg{
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;

    background-color: rgb(224, 224, 224, 0.8);
    backdrop-filter: blur( 0.5rem );
    -webkit-backdrop-filter: blur( 0.5rem );

    position:fixed;
    left:0;
    bottom: 0;
    z-index:10;
}

.hoverimg img{

    justify-self: center;
    align-self: center;
    
    max-height: 70vh;
    width: fit-content;
    object-fit: contain;

    border: 0.2rem solid var(--color-dark);
    border-radius: 0.2rem;
}
    

@media screen and (max-width:600px){
    .assignment{
        padding: 5rem 1rem 5rem 1rem;
    }
}